.sectionnavtienda {
    background-color: #162938;
    background-image: linear-gradient(180deg, #162938 0%, #183c64 32%, #15373f 49%, #000e2d 100%);

    .logotienda {
        display: flex;
        justify-content: center;
        padding-top: .3125rem;
    }

    .navbartienda {
        padding: 1.25rem;
        @include flex (row, center);
        width: 100%;
        height: auto;

        li {
            list-style-type: none;

            a {
                padding: .625rem;

                text-decoration: none;
                color: $color-fuentes;

                &:hover {
                    color: #A76F6F;
                }


            }
        }
    }

}

.sectionprincipaltienda {
    width: 100%;
    height: auto;
    background-color: #121e27;

    h1 {
        color: $color-fuentes;
    }

    img {
        width: 100%;
        height: auto;
    }

    button {
        background-color: #A76F6F;
        border-radius: 1.25rem;

        a {
            color: $color-fuentes;
            text-decoration: none;
            justify-content: center;

            &:hover {
                color: #12191c;
            }
        }
    }

    div {
        color: white;
        width: 50%;
        height: auto;
        padding: .625rem;
        border: .1875rem solid rgba(255, 255, 255, 0.995);
        margin: .3125rem;
    }

    .titulotienda {
        grid-column: 1 /3;
        grid-row: 1 /2;
        text-align: center;
        padding: .625rem;
        font-size: 1.875rem;
    }

    .cardstienda {
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, auto);
        justify-items: center;

        .camperabomber {
            grid-column: 1 /2;
            grid-row: 2 /3;
            padding: .625rem;


        }

        .buzoblanco {
            grid-column: 1 /2;
            grid-row: 3 /4;
            padding: .625rem;
        }

        .buzonegro {

            grid-column: 2 /3;
            grid-row: 2 /3;
            padding: .625rem;
        }

        .remerablanca {
            grid-column: 2 /3;
            grid-row: 3 /4;
            padding: .625rem;
        }
    }
}

.buttonfootertienda {
    background-color: #A76F6F;

    a {
        text-decoration: none;
        color: $color-fuentes;
        font-size: 1.875rem;

        &:hover {
            color: #12191c;
        }
    }
}